<md-content>
    <md-subheader class="md-primary"><h4>{{self.title}}</h4></md-subheader>
    <div class="loading" v-if="!self.Items">
        <md-progress md-indeterminate></md-progress>
    </div>
    <md-list>
        <md-list-item v-for="item in self.Items">
            <router-link :to="'./' + self.uid + '/' + item.uid">
                {{item.title}}
                <md-icon class="material-icons">arrow_forward</md-icon>
            </router-link>
        </md-list-item>
    </md-list>
</md-content>