<md-tab id="service" md-label="Service">
    <md-input-container>
        <md-icon>http</md-icon>
        <label>API Endpoint</label>
        <md-input v-model="endpoint"></md-input>
    </md-input-container>
    <md-input-container>
        <md-icon>vpn_key</md-icon>
        <label>API Token</label>
        <md-input v-model="key"></md-input>
    </md-input-container>
    <p>
        <a :href="sharelogin">Share Login</a>
    </p>
    <md-switch v-model="showReaded" id="show_readed" name="show_readed">Show Readed Items</md-switch>
</md-tab>