<md-content>
    <md-bottom-bar v-if="self.title">
        <md-bottom-bar-item md-icon="skip_previous" v-if="previous" v-bind:href="previous">Previous</md-bottom-bar-item>
        <span style="flex: 1"></span>
        <md-bottom-bar-item md-icon="open_in_browser" v-bind:href="self.link" target="_blank">Open</md-bottom-bar-item>
        <span style="flex: 1"></span>
        <md-bottom-bar-item md-icon="skip_next" v-if="next" v-bind:href="next">Next</md-bottom-bar-item>
    </md-bottom-bar>
    <md-subheader>
        <h4>{{self.title}}</h4>
    </md-subheader>
    <div class="loading" v-if="!self.title">
        <md-progress md-indeterminate></md-progress>
    </div>
    <div class="article-content">
        <md-content>
            <div v-html="self.summary"></div>
        </md-content>
        <template v-for="(child, name) in embedders">
            <component :is="child" :key="child.name" :text="content"></component>
        </template>
        <md-content v-for="content in self.content">
            <div v-html="content"></div>
            <template v-for="(child, name) in embedders">
                <component :is="child" :key="child.name" :text="content"></component>
            </template>
        </md-content>
    </div>
    <md-button class="md-fab md-fab-bottom-left md-clean  md-mini" v-if="previous" v-bind:href="previous">
      <md-icon>skip_previous</md-icon>
    </md-button>
    <md-button class="md-fab md-fab-bottom-right md-clean  md-mini" v-if="next" v-bind:href="next">
      <md-icon>skip_next</md-icon>
    </md-button>
</md-content>