<md-content>
    <md-subheader class="md-primary">
        <h4>{{self.title}} <span class="md-title" v-if="empty">(Empty)</span></h4>
    </md-subheader>
    <div class="md-scrollbar">
        <div class="loading" v-if="loading">
            <md-progress md-indeterminate></md-progress>
        </div>
        <md-list>
            <md-list-item v-for="item in myItems" v-bind:class="{ 'md-primary': current && item.uid == current.uid }" :key="item.uid">
                <router-link :to="'./' + self.uid + '/_/' + item.uid">
                    <span v-bind:style="{ 'animation-duration': item.title.length / 15  + 's' }">
                        {{item.title}}
                    </span>
                    <md-icon v-if="current && item.uid == current.uid" class="material-icons">label_outline</md-icon>
                    <md-icon v-if="current && item.uid != current.uid" class="material-icons">arrow_forward</md-icon>
                </router-link>
            </md-list-item>
        </md-list>
    </div>
    <md-bottom-bar>
        <md-bottom-bar-item v-if="empty" v-on:click="markAsRead" md-icon="autorenew"></md-bottom-bar-item>
        <md-bottom-bar-item v-if="current" v-bind:href="current.link"  target="_blank" md-icon="open_in_browser"></md-bottom-bar-item>
        <md-bottom-bar-item v-if="current" v-on:click="markAsRead" md-icon="done"></md-bottom-bar-item>
    </md-bottom-bar>
</md-content>