<md-content>
    <md-subheader class="md-primary">
        <h4>{{self.title}} <span class="md-title" v-if="empty">(Empty)</span></h4>
        <span style="flex: 1"></span>
        <md-button class="md-fab md-clean md-fixed md-mini" v-if="current" v-bind:href="current.link"  target="_blank">
            <md-icon>open_in_browser</md-icon>
        </md-button>
        <md-button class="md-fab md-clean md-fixed md-mini" v-if="current" v-on:click="markAsRead">
            <md-icon>done</md-icon>
        </md-button>
        <md-button class="md-fab md-clean md-fixed md-mini" v-if="empty" v-on:click="markAsRead">
            <md-icon>autorenew</md-icon>
        </md-button>
    </md-subheader>
    <div class="loading" v-if="loading">
        <md-progress md-indeterminate></md-progress>
    </div>
    <md-list>
        <md-list-item v-for="item in myItems" v-bind:class="{ 'md-primary': current && item.uid == current.uid }">
            <router-link :to="'./' + self.uid + '/_/' + item.uid">
                {{item.title}}
                <md-icon v-if="current && item.uid == current.uid" class="material-icons">label_outline</md-icon>
                <md-icon v-if="current && item.uid != current.uid" class="material-icons">arrow_forward</md-icon>
            </router-link>
        </md-list-item>
    </md-list>
</md-content>
