<md-content>
    <md-subheader class="md-primary">Categories</md-subheader>
    <div class="loading" v-if="loading || !categories">
        <md-progress md-indeterminate></md-progress>
    </div>
    <md-list>
        <md-list-item v-for="category in categories">
            <span>{{category.title}}</span>
            <md-list-expand >
                <md-progress md-indeterminate v-if="!category.Items"></md-progress>
                <md-list>
                    <md-list-item class="md-inset">
                        <router-link :to="'/feeds/' + category.uid">
                            {{category.title}} (all above)
                            <md-icon class="material-icons">arrow_forward</md-icon>
                        </router-link>
                    </md-list-item>
                    <md-list-item class="md-inset"  v-for="feed in category.Items">
                        <router-link :to="'feeds/' + category.uid + '/' + feed.uid">
                            {{feed.title}}
                            <md-icon class="material-icons">arrow_forward</md-icon>
                        </router-link>
                    </md-list-item>
                </md-list>
            </md-list-expand>
        </md-list-item>
    </md-list>
</md-content>