body {
  flex-direction: column;
  display: flex;
}

#app {
  visibility: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.md-theme-default #app { visibility: visible; }

.main-content, .main-content > md-content {
  overflow-y: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#app .md-scrollbar {
  overflow-y: auto;
  flex: 1;
}

:focus { outline: none; }
::-moz-focus-inner { border: 0; }

@keyframes spin {
  from { background-size: 50px 0; }
	to { background-size: 50px 50px; }
}

.embed-plugin-frame {
  position: relative;
  padding-top: 85%;
  margin-top: 2.5%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path fill="%232196F3" d="M6 2v6h.01L6 8.01 10 12l-4 4 .01.01H6V22h12v-5.99h-.01L18 16l-4-4 4-3.99-.01-.01H18V2H6zm10 14.5V20H8v-3.5l4-4 4 4zm-4-5l-4-4V4h8v3.5l-4 4z"></path></svg>');
  animation:spin 4s linear infinite;
}

.embed-plugin .embed-plugin-item .embed-plugin-frame iframe {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  height: 80%;
  top: 0;
}

.embed-plugin-imgurian .embed-plugin-item .embed-plugin-frame iframe {
    max-width: 540px;
}

.md-list-item-expand > .md-list-expand{
  display: none;
}

.md-list-item-expand.md-active > .md-list-expand{
  display: block;
}

.article-content {
  padding: 0 16px;
}

@keyframes rapid-serial-visual-presentation {
  0% {
    transform: translateX(0%);
    visibility: visible;
  }

  20% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-95%);
  }
}

.md-primary a.md-list-item-container span {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: rapid-serial-visual-presentation;
}

.md-primary a.md-list-item-container:hover span {
  animation-play-state: paused;
}